<!DOCTYPE html>
<html lang="en">
<head>
    {% if title %}
    <title>{{title}} - QUOTE</title>
    {% else %}
    <title>QUOTES</title>
    {% endif %}
  </head>
  <body>
    <div>App <b>QUOTES</b> <a href="/">Home</a>____<<>>____<a href="/login">Login</a>____<<>>____</div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li> {{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>