{% extends "base.html" %}

{% block content %}
<h1>Sign In</h1>
<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
<form action="" method="post" name="login">
    <p>
        Please enter your Name:<br>
        {{form.name(size=25)}}
        {% for error in form.errors.name %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>
    </p>
    <p>Please select gender:{{form.gender}}<br></p>
    <p>{{form.remember_me}} Remember Me</p>
    <p><input type="submit" value="Sign In"></p>
</form>
{% endblock %}