{% extends "base.html" %}
{% block content %}
<h2 style = "text-align: left;">Sign In</h2>
{% for error in form.errors.name %}
    <div><span style="color: red;">[{{error}}]</span></div>
{% endfor %}
<form method="post" >
    <fieldset>
        <legend>Sign In Form</legend>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div style = font-size:18px;>
                {{ form.login.label }}
                {{ form.login(size=20) }}<br><br>
                {{ form.password.label }}
                {{ form.password }}<br><br>
                {{ form.remember_me.label }}
                {{ form.remember_me }}<br><br>
                {{ form.submit.label }}
                {{ form.submit }}
            </div>
    </fieldset>
</form>
{% endblock %}
